<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YesVideo</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div id="yes">
            <p><img src="imagens/yeslogo.png" alt="logo" id="logo"> Video</p>
        </div>
        <nav>
            <a href="templates/index.html" class="mn">Página Inicial</a>
            <a href="templates/canal.html" class="mn">Meu Canal</a>
            <a href="templates/suporte.html" class="mn">Suporte</a>
        </nav>
    </header>
    <main>
        <div id="pesquisa">
            <input type="text" id="campo-pesquisa" placeholder="Pesquise algo!"> 
            <div id="lupa">&#x1F50D;</div>
        </div>

        <div id="upload">
            <a href="#">
                <img src="imagens/upload.png" alt="Upload" class="upload-img">
            </a>
            <p>Poste um vídeo!</p>
        </div>

        <div id="q0">
            <p>Vídeos EM ALTA da plataforma.</p>
        </div>
        
        <div id="videos">
            <div class="q1"></div>
            <div class="q1"></div>
            <div class="q1"></div>
            <div class="q1"></div>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>