<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YesVideo</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div id="yes">
            <p><img src="imagens/yeslogo.png" alt="logo" id="logo"> Video</p>
        </div>
        <nav>
            <a href="index.html" class="mn">Página Inicial</a>
            <a href="canal.html" class="mn">Meu Canal</a>
            <a href="suporte.html" class="mn">Suporte</a>
        </nav>
    </header>
    <main>
        <h1 id="sup">Suporte</h1>
        <p id="whats">&#x1F4F1;+55 (18) 99800-5937</p>
        <p id="email">&#x1F4E7; gabrielgoncalves2981@gmail.com</p>
        <p id="insta">&#x1F4F7; @gabriellllgon</p>
    </main>
    <footer>
        
    </footer>
</body>
</html>