@charset "UTF-8";

header {
    background-color: #0066ff;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div#yes {
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.mn {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

a.mn:hover {
    text-decoration: underline;
    background-color: darkblue;
    padding: 10px;
}

#logo {
    height: 100px;
    vertical-align: middle;
}

#yes p {
    margin: 0;
    display: flex;
    align-items: center;
}

#pesquisa {
    display: flex;
    align-items: center;
    border: 3px solid #0066ff;
    width: 400px;
    padding: 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
}

#campo-pesquisa {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

#lupa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
}

#q0 {
    margin-top: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.q1 {
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}
